<html>
    <body>
        <h1>Predict Customer's Credit Card Default Status</h1>
        <form action = "/" method = "post">
            <p>Please enter the Income of the Customer</p>
            <p><input type = "number" step = "0.01" name = "income"></p>
            <p>Please enter the Age of the Customer</p>
            <p><input type = "number" step = "0.01" name = "age"></p>
            <p>Please enter the Loan Amount for the Customer</p>
            <p><input type = "number" step = "0.01" name = "loan"></p>
            <p><input type = "Submit" Value = "Enter"></p>
            
        </form>
        {{result}}
    </body>
</html>